<div>
    <h2 id="page-heading">
        <span jhiTranslate="jhipstermmpApp.desk.home.title">Desks</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-desk-my-suffix" [routerLink]="['/desk-my-suffix/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span class="hidden-sm-down"  jhiTranslate="jhipstermmpApp.desk.home.createLabel">
            Create new Desk
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'jhipstermmpApp.desk.home.search' | translate }}">
                    <button class="input-group-append btn btn-info" (click)="search(currentSearch)">
                        <fa-icon [icon]="'search'"></fa-icon>
                    </button>
                    <button class="input-group-append btn btn-danger" (click)="clear()" *ngIf="currentSearch">
                        <fa-icon [icon]="'trash-alt'"></fa-icon>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <br/>
    <div class="table-responsive" *ngIf="desks">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="jhipstermmpApp.desk.deskName">Desk Name</span></th>
            <th><span jhiTranslate="jhipstermmpApp.desk.qrCode">Qr Code</span></th>
            <th><span jhiTranslate="jhipstermmpApp.desk.occupant">Occupant</span></th>
            <th><span jhiTranslate="jhipstermmpApp.desk.room">Room</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let desk of desks ;trackBy: trackId">
                <td><a [routerLink]="['/desk-my-suffix', desk.id, 'view' ]">{{desk.id}}</a></td>
                <td>{{desk.deskName}}</td>
                <td>{{desk.qrCode}}</td>
                <td>
                    <div *ngIf="desk.occupantId">
                        <a [routerLink]="['../employee-my-suffix', desk.occupantId , 'view' ]" >{{desk.occupantId}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="desk.roomId">
                        <a [routerLink]="['../room-my-suffix', desk.roomId , 'view' ]" >{{desk.roomId}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/desk-my-suffix', desk.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/desk-my-suffix', desk.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'desk-my-suffix/'+ desk.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
