<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-desk-my-suffix-heading" jhiTranslate="jhipstermmpApp.desk.home.createOrEditLabel">Create or edit a Desk</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!desk.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="desk.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jhipstermmpApp.desk.deskName" for="field_deskName">Desk Name</label>
                    <input type="text" class="form-control" name="deskName" id="field_deskName"
                        [(ngModel)]="desk.deskName" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jhipstermmpApp.desk.qrCode" for="field_qrCode">Qr Code</label>
                    <input type="text" class="form-control" name="qrCode" id="field_qrCode"
                        [(ngModel)]="desk.qrCode" />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jhipstermmpApp.desk.occupant" for="field_occupant">Occupant</label>
                    <select class="form-control" id="field_occupant" name="occupant" [(ngModel)]="desk.occupantId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="employeeOption.id" *ngFor="let employeeOption of occupants; trackBy: trackEmployeeById">{{employeeOption.id}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jhipstermmpApp.desk.room" for="field_room">Room</label>
                    <select class="form-control" id="field_room" name="room" [(ngModel)]="desk.roomId" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="roomOption.id" *ngFor="let roomOption of rooms; trackBy: trackRoomById">{{roomOption.id}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
