<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="desk">
            <h2><span jhiTranslate="jhipstermmpApp.desk.detail.title">Desk</span> {{desk.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="jhipstermmpApp.desk.deskName">Desk Name</span></dt>
                <dd>
                    <span>{{desk.deskName}}</span>
                </dd>
                <dt><span jhiTranslate="jhipstermmpApp.desk.qrCode">Qr Code</span></dt>
                <dd>
                    <span>{{desk.qrCode}}</span>
                </dd>
                <dt><span jhiTranslate="jhipstermmpApp.desk.occupant">Occupant</span></dt>
                <dd>
                    <div *ngIf="desk.occupantId">
                        <a [routerLink]="['/employee-my-suffix', desk.occupantId, 'view']">{{desk.occupantId}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="jhipstermmpApp.desk.room">Room</span></dt>
                <dd>
                    <div *ngIf="desk.roomId">
                        <a [routerLink]="['/room-my-suffix', desk.roomId, 'view']">{{desk.roomId}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/desk-my-suffix', desk.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
