<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-room-my-suffix-heading" jhiTranslate="jhipstermmpApp.room.home.createOrEditLabel">Create or edit a Room</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!room.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="room.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jhipstermmpApp.room.roomName" for="field_roomName">Room Name</label>
                    <input type="text" class="form-control" name="roomName" id="field_roomName"
                        [(ngModel)]="room.roomName" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jhipstermmpApp.room.floor" for="field_floor">Floor</label>
                    <input type="number" class="form-control" name="floor" id="field_floor"
                        [(ngModel)]="room.floor" />
                </div>

            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
